@model Carro

@{
    ViewData["title"] = "Cadastro de Carro";
}

<h1>Cadastro de Carro</h1>

@if (ViewData["churros"] != null) 
{
    <div class="alert alert-info">
        @ViewData["churros"]
    </div>
}

<form asp-action="cadastrar">
    <div class="mb-3">
        <label asp-for="Modelo"></label>
        <input asp-for="Modelo" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Valor"></label>
        <input asp-for="Valor" class="form-control" />
    </div>
    <div class="mb-3">
        <input asp-for="Automatico" />
        <label asp-for="Automatico"></label>
    </div>
    <div class="mb-3">
        <label asp-for="Combustivel"></label>
        <select class="form-control" asp-for="Combustivel" asp-items="@Html.GetEnumSelectList<Combustivel>()">
            <option>Selecione</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Fabricante"></label>
        <select class="form-control" asp-for="Fabricante" asp-items="@ViewBag.fabricantes">
            <option>Selecione</option>
        </select>
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary" />
    <a asp-action="index" class="btn btn-outline-dark">Lista de Carros</a>

</form>